
 <script src="https://api-maps.yandex.ru/2.1/?z=4&apikey=95d39912-13db-4d26-a3c5-4b736b679991&lang=ru_RU" type="text/javascript">
    </script>

<body>
<div id="map" style="width: 600px; height: 400px"></div>
</body>

<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init(){
        // Создание карты.
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [60.003989, 30.355267],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 7,

            controls: []
        });

        for (let product in products)
        {

            myMap.geoObjects.add(new ymaps.GeoObject({
                geometry: {
                    type: "Point", // тип геометрии - точка
                    coordinates: [products[product].x, products[product].y] // координаты точки
                },
                properties: {
                    balloonContentBody: "<a href='#' style='color:grey; font-weight: bold; font-size: 1.2em'> " + products[product].name + "</a>"
                }
            }));
        }

        var location = ymaps.geolocation;
        location.get({
            mapStateAutoApply: true
        })
            .then(
                function(result) {
                    // Получение местоположения пользователя.
                    var userCoordinates = result.geoObjects.get(0).geometry.getCoordinates();
                    myMap.geoObjects.add(result.geoObjects)
                    myMap.geoObjects.add(new ymaps.GeoObject({
                        geometry: {
                            type: "Circle",
                            coordinates: userCoordinates,
                            radius: 500
                        }
                    }));

                    myMap.setCenter(userCoordinates);
                    myMap.setZoom(4);
                },
                function(err) {
                    console.log('Ошибка: ' + err)
                }
            );


    }
</script>

</head>