<%- include('partials/header'); -%>

<section class="white-section .changing" id="title">

  <div class="container-fluid changing">

<div class="row">

  <div class="col-lg-6">
    <div class="politics changing" id="pol-scroll">
      В сложившихся условиях пандемии особенно явно встал вопрос продвижения и работы малого бизнеса.
      Поэтому наша компания создала сайт, на котором любые частные предприниматели и
      представители малого бизнеса, а также простые обыватели свободно могут зарегистрироваться
      для удовлетворения своих потребностей.
      Предприниматели получат свободную от конкуренции с большими предприятиями площадку, на которой
      смогут продвигать свои товары и услуги. За счет большого количества
      пользователей создается возможность раскрутить свой бизнес без особенных
      финансовых затрат.
      Покупатели же получат платформу, на которой смогут быстро найти нужные товары и услуги в
      шаговой доступности от дома. Не придется тратить большое время на очереди и ожидание
      приготовления товара. Вы делаете заказ на нашем сайте и через некоторое время
      приходите и забираете его.
      Таким образом мы облегчаем процесс купли-продажи. Особенно важно это в условиях пандемии. Благодаря
      нам до минимума сокращается контакт между продавцом и покупателем. Уменьшается шанс
      заражения.
    </div>
  </div>

  <div class="col-lg-6">
    <img src="/images/master.jpg" alt="iphone-mockup">
  </div>

</div>

</section>

<%- include('partials/footer'); -%>